.col{
    position: relative;
}

.upper-layer{
    background-color: #19ab8ed6;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    transition:1s all;
}
.col:hover .upper-layer{
    visibility: visible;
}
#fixed-box{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgba(0,0,0,0.7);
    }
    #parent{
    width:40%;
    }
    